entrypoint = "main.py"
modules = ["python-3.11"]

[nix]
channel = "stable-24_05"
packages = ["nano", "psmisc", "run", "zip"]

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["bash", "start_all.sh"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 3000
externalPort = 3001

[[ports]]
localPort = 8080
externalPort = 80

[[ports]]
localPort = 8501
externalPort = 3000

[[ports]]
localPort = 8502
externalPort = 3002

run = "bash start_all.sh"
